#root {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin-top: -1.2em;
}

.aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1em;
}

.aerer {
    margin-bottom: 1em;
}